body{
	font-family: 'Poppins', sans-serif;
}

.navbar-brand{
	font-family: 'Lora', serif;
	font-weight: 700;
}

.nav-item{
	margin-right: 15px;
}

.navbar, footer{
	background-color: #4e73df !important;
}

.list-group-item{
	border: none;
}
